<% @page_title = 'Contact Us' %>
<%- content_for :head do -%>
	<%= javascript_include_tag 'live_validation' %>
<%- end -%>
<%- content_for :right do -%>
	<%= render :partial => 'layouts/vcard' %>
<%- end -%>
<h1>Allergy and Asthma Care of Waco</h1>
<h4>Phone (254) 753-3646</h4>
<h4>Fax (254) 753-1411</h4>

<h2>Email us through the below form. Choose from the drop down list what best represents your inquiry</h2>
<%= content_tag 'div', h(flash[:notice]), :class => 'flash', :id => 'flash' if flash[:notice] %>
<%= content_tag 'div', h(flash[:error]), :class => 'error', :id => 'flash' if flash[:error] %>
<p>
	<form id="contact-form" method="post" action="send_contact_form">
		<%= token_tag %>
  	<p><label for="contact_author">Your name</label><input type="text" id="contact_author" name="contact[author]" value="" /></p>
		<script type="text/javascript" charset="utf-8">
			var contact_author = new LiveValidation('contact_author', {onlyOnBlur: true });
			contact_author.add(Validate.Presence, {"validMessage": ""});
		</script>
  	<p><label for="contact_author_email">Email Address</label><input type="text" id="contact_author_email" name="contact[author_email]" value="" /></p>
		<script type="text/javascript" charset="utf-8">
			var contact_author_email = new LiveValidation('contact_author_email', {onlyOnBlur: true });
			contact_author_email.add(Validate.Presence, {"validMessage": ""});
		</script>
  	<p><label for="contact_subject">Subject</label> 
                <select id="contact_subject" name="contact[subject]">
                  <option value="Service_Question">Service Questions</option>
                  <option value="General_Allergy_Question">General Allergy Information</option>
                  <option value="Employment">Employment</option>
									<option value="Research_Studies">Research Studies</option>
									<option value="Media_and_Press">Media &amp; Press</option>
                </select>
    </p>	
  	<p><label for="contact_body">Your Message</label> <textarea id="contact_body" name="contact[body]" rows=10></textarea></p>
  	<p><input type="submit" value="Send Your Message" /></p>
	</form>
</p>

<h2>We are located at:</h2>
<p class="address">3115 Pine Avenue in the Hillcrest Medical Tower, Suite 1008.<br/>
Waco, TX  76708<br/>
<a href="http://maps.google.com/maps?saddr=&amp;daddr=3115+Pine+Ave+%23+1008,+Waco,+TX+76708+(Allergy+%26+Asthma+Care+of+Waco)" target="_blank">Get directions</a></p>

<h2>Clinic hours</h2>

<p>Our office is open five days a week to serve your needs.  
	
	<p class="address">Monday 	8:30am – 6:00pm<br/>
		Tuesday 	7:00am – 3:30pm <br/>
		Wednesday 	8:30am – 5:30pm <br/>
		Thursday 	8:30am – 6:00pm  <br/>
		Friday 		8:30am – 1:00pm 
		</p>

<p class="quiet">For established patients, Dr. Daftary is available by telephone 24/7 at 254-753-3646. When Dr. Daftary does take time off, our clinic Nurse Practitioner, Patricia Tatum, will be available to assist you. Our priority is to be open and available when our patients need us.</p>

<p class="quiet">If you call our office after hours, you will be connected to an operator with our answering service. If Dr. Daftary does not respond to your call within 20 minutes, the answering service will re-page her for you or contact her on her cell phone. Please remind the answering service of this if needed.</p>

<h2>Allergy Study Programs</h2>

<p>Our office regularly participates in clinical research studies specific to allergy and asthma medications. Depending on the study protocol, participants are evaluated by medical exam and may receive study medication with ongoing evaluations. Participants are usually compensated for their time as a study participant. If interested in finding out more about our current clinical research studies, please call our office at 254-753-3646.</p>

<p>We are currently enrolling participants in the asthma research studies as mentioned in the below ads.</p>

<div class="ads">
	<%= image_tag 'study1.jpg' %>
	<%= image_tag 'study2.jpg' %>
</div>

<h2>Employment Opportunities</h2>
<p>We seek and employ energetic, compassionate, and talented professionals to become part of our team.  If you are interested in joining a dynamic and progressive organization providing superior treatments for allergic disease, <strong>fill out the form above,</strong> <i>subject line: Employment</i></p>