<% @page_title = params[:action].titleize %>
<%- content_for :right do -%>
<%= render :partial => 'layouts/vcard' %>
<%- numbers = @nab_scale.map{|s| "<span>#{s}</span>"} -%>
<div id="nab_scale">
	<strong class="title">NAB SCALE</strong>
	<p class="nab_scale_popup center"><%= numbers %></p>
</div>
<%- end -%>
<h1 style="padding-left:0"><%= params[:action].titleize %></h1>
<div id="graph_holder">
<%= inline_annotated_timeline @data, 700, 361, 'graph', {:max => @max} %>
</div>

<div id="graph-links">
	<%= active_link_to "trees", historical_pollen_count_path(:pollen_count => 'trees') %>
	<%= active_link_to "weeds", historical_pollen_count_path(:pollen_count => 'weeds') %>
	<%= active_link_to "fungi", historical_pollen_count_path(:pollen_count => 'fungi') %>
	<%= active_link_to "grass", historical_pollen_count_path(:pollen_count => 'grass') %>
</div>