<% @page_title = 'Welcome' %>
<%- content_for :head do -%>
	<%= javascript_include_tag 'swfobject' %>
<%- end -%>
<%- content_for :right do -%>
<div class="box blue-box">
	<p>Our goal is to make sure every patient goes home happier and healthier.</p>
	<p class="note"><strong>Let us know how we are doing.</strong></p>
	<div class="foot"><%= link_to "SUBMIT FEEDBACK", patients_satisfaction_path %></div>
</div>
<%= render :partial => 'layouts/vcard' %>
<%- end -%>
<h1>Why Allergy and Asthma Care of Waco?</h1>
<p>Our primary goal is to improve your quality of life by determining what triggers your allergy or asthma symptoms, providing extensive education on how to modify your environment to better control exposure to those triggers and providing you with other treatment options such as medications or immunotherapy (allergy injections).</p>
<div class="info">
	<strong class="heading">Meet our doctors and staff:</strong>
	<ul class="link-list">
		<li><a href="/about_us">Pramila K. Daftary, M.D.</a></li>
	</ul>
</div>
<div class="container">
	<div class="container-foot">
		<h2>LEARN MORE ABOUT ALLERGIES AND ASTHMA</h2>
		<div class="post">
			<div class="image-holder image-left"><a href="tips"><%= link_to image_tag('img-photo-1.jpg'), patients_tips_path %></div>
			<h3 class="large"><%= link_to "Tips for allergy sufferers", patients_tips_path %></h3>
			<p>Here are some useful tips for allergy sufferers to help alleviate the pitfalls of allergies.</p>
			<%= link_to "View tips for alleving allergies", patients_tips_path, :class => 'more' %>
		</div>
		<div class="post">
			<div class="image-holder image-left"><%= link_to image_tag('img-photo-2.jpg'), patients_tips_path %></div>
			<h3><%= link_to "Why should I see an Allergist?", patients_tips_path %></h3>
			<p>Learn the facts about why seeing an Allergist can be beneficial to your overall health and well being.</p>
			<%= link_to "Learn the right time to see an allergist", patients_tips_path, :class => 'more' %>
		</div>
		<div class="post">
			<div class="image-holder image-left"><%= link_to image_tag('img-photo-3.jpg'), patients_tips_path %></div>
			<h3><%= link_to "Understanding Allergies &amp; Asthma", patients_tips_path %></h3>
			<p>Asthma has often been described as a wheezing sound when you breathe, but asthma is so much more! </p>
			<%= link_to "Get the facts about asthma", patients_tips_path, :class => 'more' %>
		</div>
	</div>
</div>
<div class="container small-container">
	<div class="container-foot">
		<h2>YOUR DAILY POLLEN COUNT</h2>
		<div class="view-box">
			<div class="view-links">
				<%= link_to "weeds", root_path(:pollen_count => 'weeds'), request.request_uri.match(/=weeds/) ? {:class => 'active'} : {:class => ''} %> |
				<%= link_to "trees", root_path(:pollen_count => 'trees'), request.request_uri.match(/=trees/) || request.request_uri == root_path ? {:class => 'active'} : {:class => ''} %> |
				<%= link_to "fungi", root_path(:pollen_count => 'fungi'), request.request_uri.match(/=fungi/) ? {:class => 'active'} : {:class => ''} %> |
				<%= link_to "grass", root_path(:pollen_count => 'grass'), request.request_uri.match(/=grass/) ? {:class => 'active'} : {:class => ''} %>
			</div>
			<!-- <div class="count">Count: <%# @count %></div> -->
			<%= image_tag @graph %>
			<a id="view" href="#" class="view">view</a>
			<p>As of: <%= @pollen_count.date %></p>
		</div>
		<script type="text/javascript" charset="utf-8">
		new Tip('view', "<p><span style='color:#028a02'><b>Low</b></span> - Tend to affect very few individuals among the allergy-suffering public.</p><p><span style='color:#92ef34'><b>Low-Medium</b></span> - Tend to start affecting individuals extremely sensitive to the predominant pollen.</p><p><span style='color:#dada05'><b>Medium</b></span> - Will likely cause symptoms for many individuals who suffer from allergies to the predominant pollen types of the season.</p><p><span style='color:#ff9a03'><b>Medium-High</b></span> - Tend to affect a large number of individuals who suffer from the pollen types of the season.</p><p><span style='color:#ff2525'><b>High</b></span> - Tend to affect most individuals who suffer from the pollen types of the season. Symptoms may become more severe during days with high pollen levels.</p>", {
						title: "Pollen Count Description",
						stem: 'bottomMiddle',
						hideOn: { element: 'closeButton', event: 'click'},
						hook: { target: 'topMiddle', tip: 'bottomMiddle' },
						offset: { x: 5, y: -3 }
					});

		</script>
		<p class="view-box-footer"><a class="little" href="http://www.aaaai.org" target="_blank">National Allergy Bureau</a></p>
	</div>
</div>