<% @page_title = 'Patients' %>
<%- content_for :right do -%>
<div class="brown-box">
	<h3>NEW APPOINTMENT CHECKLIST:</h3>
	<ul class="list">
		<li>Items to bring:
			<ul class="sub_list">
				<li>Completed forms 
					<ul class="sub_list nom">
						<li><%= link_to "new patient packet", 'pdfs/AACOW_NewPatientPacket.pdf' %></li>
					</ul>
				</li>
				<li>Insurance card </li>
				<li>Referral </li>
				<li>Questions and allergy concerns</li>
			</ul>
		</li>
		<li>At your visit:
			<ul class="sub_list">
				<li>Medical history eval</li>
				<li>Questions about symptoms and triggers</li>
				<li>Exam</li>
				<li>Further tests as needed</li>
			</ul>
		</li>
	</ul>
</div>
<div class="box green-box">
	<p>Help us understand more about how to better combat allergies.</p>
	<p class="note"><strong>Join our allergy research team</strong></p>
	<div class="foot"><%= link_to "PARTICIPATION INFO", research_studies_path %></div>
</div>
<%= render :partial => 'layouts/vcard' %>
<%- end -%>
<%= render :partial => 'subnav' %>

	<h1>New patients</h1>
	<p>Hello and welcome to Allergy and Asthma Care of Waco. We strive to treat each patient as an individual with different needs and work with patients to get their input on treatment options that will work best with their lifestyle and schedule.</p>
	<h2>What you should have before your visit and what to expect during your first visit to our clinic.</h2>
	<h3>Completed new patient packet.</h3>
	<p>When arriving for your first visit, please have the new patient forms completed. They can be accessed at the link below or will be mailed to you in advance of your appointment, just let the person scheduling your appointment know. Individual forms can be downloaded at the bottom of this page.</p>
	<div class="container large-container">
		<div class="container-foot">
			<h2>NEW PATIENT FORMS:</h2>
			<ul class="pdf-list">
				<li><%= link_to "New Patient Packet", 'pdfs/AACOW_NewPatientPacket.pdf' %></li>
			</ul>
		</div>
	</div>
	<h3>Insurance information</h3>
	<p>Our office accepts most of the major HMO and PPO insurance plans in addition to Medicaid and Medicare.</p>
	<p>Please have your insurance card and referral on hand upon arriving at the Clinic. Your insurance information will be reviewed regarding coverage of your visit and possible allergy testing that will be done that day.</p>
	<!-- <div class="lists">
		<ul class="list">
			<li><a href="#"> Insurance option 1</a></li>
			<li><a href="#"> Insurance option 2</a></li>
			<li><a href="#"> Insurance option 3</a></li>
			<li><a href="#"> Insurance option 4</a></li>
			<li><a href="#"> Insurance option 5</a></li>
		</ul>
		<ul class="list">
			<li><a href="#"> Insurance option 6</a></li>
			<li><a href="#"> Insurance option 7</a></li>
			<li><a href="#"> Insurance option 8</a></li>
			<li><a href="#"> Insurance option 9</a></li>
			<li><a href="#"> Insurance option 10</a></li>
		</ul>
		<ul class="list">
			<li><a href="#"> Insurance option 11</a></li>
			<li><a href="#"> Insurance option 12</a></li>
			<li><a href="#"> Insurance option 13</a></li>
			<li><a href="#"> Insurance option 14</a></li>
			<li><a href="#"> Insurance option 15</a></li>
		</ul>
	</div> -->
	<h3>Allergy symptoms and further questions</h3>
	<p>Please write down any questions or concerns prior to your visit so that they can be addressed during your visit. Dr. Daftary will discuss your current allergy/asthma symptoms and past medical history.</p>
	
	<h3>During your visit with Dr. Daftary</h3>
	
	<p>Several questions will be asked regarding you home and work environment to determine if any changes should be made to your environment to decrease your exposure to allergens. Dr. Daftary will perform an exam to look at your ears, eyes, nose, throat and skin and listen to your heart and lungs.</p>
	
	<p>Dr. Daftary may recommend skin allergy testing for you to help her evaluate which allergens may be making you sick. We test for environmental allergens such as trees, grasses, weeds, molds, house dust and dust mites as well as selected food testing. Most skin testing is done on the back and we use a plastic device to apply the allergy serum to your back. The testing device does not break the skin and no bleeding is involved. The serum remains on your back for 20 minutes before being read and you may notice an itching sensation to some areas. Dr. Daftary will then read the testing on your back and discuss which allergens you are most allergic to.</p>
	
	<p>If you have problems with wheezing, coughing, shortness of breath or chest tightness, Dr. Daftary will evaluate your lung function by having you blow into a mouthpiece several times.</p>
	
	<p>Depending on your allergy testing results and pulmonary results, Dr. Daftary will recommend environmental controls, medications to relieve your symptoms and may recommend that you start on allergy injections to decrease your sensitivity to allergens. One of our nurses will also review ways to decrease your exposure to allergens in your home and work environment.</p>
	
	<h2>At your next appointments</h2>
	
	<p>During your follow-up visits, retesting of allergens or sick visits you will be cared for by either Dr. Daftary or the Nurse Practitioner, Patricia Tatum.</p>
	
	<h2>We look forward to seeing you at first visit!</h2>
	
	<p>We hope this description has answered many of your questions about the first visit to our office. We are always here to help and answer any additional questions you may have. Please do not hesitate to ask! You may also view our <%= link_to "FAQ", patients_faq_path %> for a few additional answers.</p>
	
	<p>If you are ready to schedule you can call our offices at <strong>(254) 753-3646</strong>.</p>
	
	<p>Need our Clinic hours and driving directions? Click here.  <%= link_to 'contact us', contact_us_path %> </p>
	
	<div class="container large-container">
		<div class="container-foot">
			<h2>INDIVIDUAL NEW PATIENT FORMS:</h2>
			<ul class="pdf-list">
				<li><%= link_to "Patient Information", 'pdfs/AACOW_PatientInfo.pdf' %></li>
				<li><%= link_to "Allergy Profile", 'pdfs/AACOW_AllergyProfile.pdf' %></li>
				<li><%= link_to "Notice of Privacy Practices", 'pdfs/AACOW_Privacy.pdf' %></li>
				<li><%= link_to "Payment Policy", 'pdfs/AACOW_PaymentPolicy.pdf' %></li>
				<li><%= link_to "General Clinic Information", 'pdfs/AACOW_Previsit.pdf' %></li>
			</ul>
		</div>
	</div>
		<p class='quiet'>Please read over print these forms and complete them prior to your first visit. If you are unable to complete these forms at home, please arrive 20 minutes before your scheduled appointment, as you will need to complete them before being seen.</p>