<h1>Listing research studies</h1>

<table>
	<tr>
	<th>TITLE</th>
	<th>DESCRIPTION</th>
	<th class="rt">ACTIONS</th>
	</tr>
<% @research_studies.each do |research_study| %>
  <tr class="<%= cycle('', 'odd') %>">
		<td><%= research_study.title %></td>
		<td class="fixed"><%= truncate research_study.description, :length => 100 %></td>
    <td class="rt"><%= link_to 'Edit', edit_admin_research_study_path(research_study) %>
				<%= link_to 'Destroy', admin_research_study_path(research_study), :confirm => 'Are you sure?', :method => :delete %>
		</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New research study', new_admin_research_study_path %>