<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<link rel="shortcut icon" href="favicon.ico" />
	<title><%= "#{h @page_title} - " if @page_title %>Allergy And Asthma Care of Waco</title>
	<%= stylesheet_link_tag 'all', 'prototip' %>
	<!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="stylesheets/ie6.css" media="screen"/><![endif]-->
  <%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'prototip' %>
	<%= yield :head %>
	<meta name="description" content="Our primary goal is to improve your quality of life by determining what triggers your allergy or asthma symptoms, providing extensive education on how to modify your environment to better control exposure to those triggers and providing you with other treatment options such as medications or immunotherapy (allergy injections).">
	    <meta name="keywords" content="Waco allergy clinic, Waco allergy care, Waco allergy immunotherapy, Waco allergy injections, Waco allery shots, Waco asthma care, Asthma care Waco, Allery care Waco. Allergy care, Allergy asthma care Waco, Pollen count Waco, allergic Waco">
	    <meta name="copyright" content="Allergy And Asthma Care of Waco">
	    <meta name="author" content="Allergy And Asthma Care of Waco">
	    <meta name="email" content="webmaster@allergywaco.com">
</head>
<body>
 <%= render :partial => 'layouts/header' %>
</div>